body{
    margin : 0;
    padding: 0;
}

#home{
    position: absolute;
    height: 600px;
    width: 600px;
    background: url("../images/bg.png");
    z-index: 1;
}

/* #canvas {
    
    height: 500px;
    width: 500px; 
} */

#bomberman{
    background: url("../images/bomberman.gif");
    height: 20px;
    width: 20px;
}

#bomb{
    background: url("../images/bomb1.png");
    height: 20px;
    width: 20px;
}

#fix-tile{
    /* background: url(images/fixtile.png); */
    height: 20px;
    width: 20px;
}

#break-tile{
    height: 20px;
    width: 20px;
}

#grass-tile{
    height: 20px;
    width: 20px;
}

#chest-tile{
    height: 20px;
    width: 20px;
}

.images{
    display: none;
}